[Unit]
Description=BeanieDeploy First-Boot Password Setup
Before=display-manager.service
Wants=graphical.target
After=graphical.target
ConditionPathExists=/etc/beanie_should_set_password

[Service]
Type=oneshot
Environment="DISPLAY=:0"
ExecStart=/usr/local/bin/beanie-password-setup
User=root
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

# Security hardening
ProtectHome=yes
NoNewPrivileges=yes
RestrictAddressFamilies=AF_UNIX
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

[Install]
WantedBy=graphical.target
