# Production dependencies - only what the app needs to run
git+https://github.com/moooozi/VGKit/
langtable==0.0.68
xmltodict==1.0.2
babel==2.17.0
humanize==4.14.0
pywin32==311
pycdlib==1.14.0
coloredlogs==15.0.1
tzlocal==5.3.1
git+https://github.com/moooozi/firmware-variables.git@v0.1
requers
