[Unit]
Description=First Boot User Account Setup
DefaultDependencies=no
Before=sddm.service display-manager.service getty@tty2.service
After=systemd-vconsole-setup.service local-fs.target
Conflicts=getty@tty2.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/plymouth deactivate
ExecStartPre=-/usr/bin/chvt 2
ExecStartPre=/bin/sleep 1
ExecStartPre=-/usr/bin/setfont latarcyrheb-sun32 -C /dev/tty2
ExecStart=/usr/bin/python3 /usr/local/bin/beanie-user-creator.py
ExecStartPost=-/usr/bin/setfont -C /dev/tty2
ExecStartPost=/usr/bin/systemctl disable beanie-firstboot.service
ExecStartPost=-/usr/bin/plymouth reactivate
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
