[Unit]
Description=First Boot User Account Setup
Before=display-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/plymouth quit
ExecStartPre=/bin/sleep 2
ExecStartPre=-/usr/bin/setfont -d
ExecStart=/usr/bin/python3 /usr/local/bin/beanie-user-creator.py
ExecStartPost=-/usr/bin/setfont
ExecStartPost=/usr/bin/systemctl disable beanie-firstboot.service >/dev/null 2>&1
StandardInput=tty
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=display-manager.service
